# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
env/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
django_secret_key.txt

# Environment variables
.env

# PyCharm / VSCode
.idea/
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule

# Migrations
*/migrations/*.pyc
*/migrations/*.py[cod]
*/migrations/__pycache__/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Test / debug files
*.tmp
*.swp
*.swo

# Docker
docker-compose.override.yml
